<div class="ui-widget">
  <form id="search-box" action="/users/search" method="get">
    <label for="users">
      Search:
      <input id="users" name="q" value="<%= params[:q] %>">
    </label>
  </form>
</div>

<div class="search-results">
  <div class="left-panel">
    <%- if @aggregations %>
      <h3> Facets </h3>
      <hr>
      <%- @aggregations.each do |name, results| %>
        <ul class="facets">
          <%- results["buckets"].each do |result| %>
            <li><%= result["key"] %> (<%= result["doc_count"] %>)</li>
          <%- end %>
        </ul>
      <%- end %>
    <%- end %>
  </div>
  <div class="right-panel">
    <h3> Results </h3>
    <hr>
    <ul>
    <%- @users.each do |user| %>
      <li>
        <%= user.name %> (last seen: <%= user.last_login_at.to_s(:short) %>)
      </li>
    <%- end %>
    </ul>
  </div>
</div>
